In [1]:
import pandas as pd
import numpy as np

In [2]:
g=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/OECD.ELS.SAE,DSD_EARNINGS@GENDER_WAGE_GAP,1.0+......_T.csv')

In [4]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   STRUCTURE              1863 non-null   object
 1   STRUCTURE_ID           1863 non-null   object
 2   STRUCTURE_NAME         0 non-null      float64
 3   ACTION                 1863 non-null   object
 4   REF_AREA               1863 non-null   object
 5   Unnamed: 5             0 non-null      float64
 6   MEASURE                1863 non-null   object
 7   Unnamed: 7             0 non-null      float64
 8   UNIT_MEASURE           1863 non-null   object
 9   Unnamed: 9             0 non-null      float64
 10  PAY_PERIOD             1863 non-null   object
 11  Unnamed: 11            0 non-null      float64
 12  PRICE_BASE             1863 non-null   object
 13  Unnamed: 13            0 non-null      float64
 14  AGGREGATION_OPERATION  1863 non-null   object
 15  Unnamed: 15            0 non-null      float64
 16  SEX                    1863 non-null   object
 17  Unnamed: 17            0 non-null      float64
 18  TIME_PERIOD            1863 non-null   int64
 19  Unnamed: 19            0 non-null      float64
 20  OBS_VALUE              1824 non-null   float64
 21  Unnamed: 21            0 non-null      float64
 22  BASE_PER               0 non-null      float64
 23  Unnamed: 23            0 non-null      float64
 24  OBS_STATUS             1857 non-null   object
 25  Unnamed: 25            0 non-null      float64
 26  UNIT_MULT              1863 non-null   int64
 27  Unnamed: 27            0 non-null      float64
 28  DECIMALS               1863 non-null   int64
 29  Unnamed: 29            0 non-null      float64
dtypes: float64(16), int64(3), object(11)
memory usage: 436.8+ KB

In [8]:
g.head(30)

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Unnamed: 5,MEASURE,Unnamed: 7,UNIT_MEASURE,Unnamed: 9,...,OBS_VALUE,Unnamed: 21,BASE_PER,Unnamed: 23,OBS_STATUS,Unnamed: 25,UNIT_MULT,Unnamed: 27,DECIMALS,Unnamed: 29
0,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,BRA,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,10.666667,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
1,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,BRA,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,13.333333,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
2,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,BRA,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,14.285714,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
3,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,15.966387,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
4,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,14.042934,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
5,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,16.363636,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
6,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,MLT,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,6.811146,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
7,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,MLT,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,7.192575,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
8,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,MLT,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,7.440720,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
9,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,10.470245,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
10,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,15.777778,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
11,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,10.533333,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
12,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,15.311653,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
13,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,13.448567,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
14,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,13.000948,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
15,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,13.728432,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
16,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,26.527456,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
17,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,24.640000,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
18,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,26.160338,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
19,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,27.260870,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
20,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,HUN,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,NaN,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
21,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,GRC,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,5.909091,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
22,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,DEU,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,16.727538,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
23,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,23.205424,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
24,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,23.312883,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
25,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,18.338333,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
26,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,23.300000,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
27,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,19.993046,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
28,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,21.908679,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN
29,DATAFLOW,OECD.ELS.SAE:DSD_EARNINGS@GENDER_WAGE_GAP(1.0),NaN,I,AUS,NaN,GWP,NaN,PT_WG_SAL_M_D,NaN,...,23.513461,NaN,NaN,NaN,A,NaN,0,NaN,1,NaN

In [7]:
g.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'REF_AREA',
       'Unnamed: 5', 'MEASURE', 'Unnamed: 7', 'UNIT_MEASURE', 'Unnamed: 9',
       'PAY_PERIOD', 'Unnamed: 11', 'PRICE_BASE', 'Unnamed: 13',
       'AGGREGATION_OPERATION', 'Unnamed: 15', 'SEX', 'Unnamed: 17',
       'TIME_PERIOD', 'Unnamed: 19', 'OBS_VALUE', 'Unnamed: 21', 'BASE_PER',
       'Unnamed: 23', 'OBS_STATUS', 'Unnamed: 25', 'UNIT_MULT', 'Unnamed: 27',
       'DECIMALS', 'Unnamed: 29'],
      dtype='object')