In [2]:
import numpy as np
import pandas as pd

In [3]:
g=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/EDA_datos_ILOSTAT/datospobrezap.csv')

In [4]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472 entries, 0 to 471
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ref_area.label   472 non-null    object
 1   source.label     472 non-null    object
 2   indicator.label  472 non-null    object
 3   sex.label        472 non-null    object
 4   classif1.label   472 non-null    object
 5   time             472 non-null    int64
 6   obs_value        472 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 25.9+ KB

In [5]:
g.describe()

              time   obs_value
count   472.000000  472.000000
mean   2016.966102    0.376521
std       2.279540    0.650590
min    2014.000000    0.004000
25%    2015.000000    0.025000
50%    2017.000000    0.106500
75%    2018.000000    0.319250
max    2024.000000    2.969000

In [6]:
g.head(20)

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,time,obs_value
0,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2024,0.088
1,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2023,0.095
2,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2022,0.104
3,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2021,0.108
4,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2020,0.120
5,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2019,0.110
6,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15-24",2019,0.160
7,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 25+",2019,0.105
8,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 15+",2019,0.120
9,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 15-24",2019,0.160
10,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 25+",2019,0.116
11,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Female,"Age (Youth, adults): 15+",2019,0.098
12,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Female,"Age (Youth, adults): 15-24",2019,0.160
13,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Female,"Age (Youth, adults): 25+",2019,0.093
14,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2018,0.121
15,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15-24",2018,0.177
16,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 25+",2018,0.115
17,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 15+",2018,0.131
18,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 15-24",2018,0.174
19,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Male,"Age (Youth, adults): 25+",2018,0.126

In [31]:
g.shape

(472, 7)

In [7]:
g.isna().sum()

ref_area.label     0
source.label       0
indicator.label    0
sex.label          0
classif1.label     0
time               0
obs_value          0
dtype: int64

In [8]:
g1=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/EDA_datos_ILOSTAT/mujeresenaltoscargos.csv')

In [9]:
g1.shape

(154, 9)

In [10]:
g1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ref_area.label        154 non-null    object
 1   source.label          154 non-null    object
 2   indicator.label       154 non-null    object
 3   time                  154 non-null    int64
 4   obs_value             154 non-null    float64
 5   obs_status.label      0 non-null      float64
 6   note_classif.label    0 non-null      float64
 7   note_indicator.label  0 non-null      float64
 8   note_source.label     0 non-null      float64
dtypes: float64(5), int64(1), object(3)
memory usage: 11.0+ KB

In [11]:
g1.head()

,ref_area.label,source.label,indicator.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 5.5.2 - Proportion of women in m...,2023,36.004,NaN,NaN,NaN,NaN
1,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 5.5.2 - Proportion of women in m...,2022,35.600,NaN,NaN,NaN,NaN
2,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 5.5.2 - Proportion of women in m...,2021,36.609,NaN,NaN,NaN,NaN
3,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 5.5.2 - Proportion of women in m...,2020,35.966,NaN,NaN,NaN,NaN
4,Europe and Central Asia,ILO - Modelled Estimates,SDG indicator 5.5.2 - Proportion of women in m...,2019,35.357,NaN,NaN,NaN,NaN

In [12]:
g1.isna().sum()

ref_area.label            0
source.label              0
indicator.label           0
time                      0
obs_value                 0
obs_status.label        154
note_classif.label      154
note_indicator.label    154
note_source.label       154
dtype: int64

In [14]:
g3=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/EDA_datos_ILOSTAT/empleoporsexo.csv')

In [15]:
g3.head(20)

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,classif2.label,time,obs_value,obs_status.label
0,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Total,2024,427662.408,NaN
1,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Extremely poor < USD 2.15 PPP,2024,374.323,NaN
2,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Moderately poor >= USD 2.15 an...,2024,1251.410,NaN
3,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: >= USD 3.65 PPP,2024,426036.676,NaN
4,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Total,2023,426601.636,NaN
5,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Extremely poor < USD 2.15 PPP,2023,406.176,NaN
6,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Moderately poor >= USD 2.15 an...,2023,1301.175,NaN
7,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: >= USD 3.65 PPP,2023,424894.285,NaN
8,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Total,2022,423768.270,NaN
9,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Extremely poor < USD 2.15 PPP,2022,441.560,NaN
10,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Moderately poor >= USD 2.15 an...,2022,1427.401,NaN
11,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: >= USD 3.65 PPP,2022,421899.309,NaN
12,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Total,2021,416444.543,NaN
13,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Extremely poor < USD 2.15 PPP,2021,449.709,NaN
14,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Moderately poor >= USD 2.15 an...,2021,1448.561,NaN
15,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: >= USD 3.65 PPP,2021,414546.273,NaN
16,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Total,2020,411452.597,NaN
17,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Extremely poor < USD 2.15 PPP,2020,493.296,NaN
18,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: Moderately poor >= USD 2.15 an...,2020,1708.988,NaN
19,Europe and Central Asia,ILO - Modelled Estimates,"Employment by sex, age and economic class -- I...",Sex: Total,"Age (Youth, adults): 15+",Economic class: >= USD 3.65 PPP,2020,409250.313,NaN

In [16]:
g3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360 entries, 0 to 2359
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ref_area.label    2360 non-null   object
 1   source.label      2360 non-null   object
 2   indicator.label   2360 non-null   object
 3   sex.label         2360 non-null   object
 4   classif1.label    2360 non-null   object
 5   classif2.label    2360 non-null   object
 6   time              2360 non-null   int64
 7   obs_value         2360 non-null   float64
 8   obs_status.label  0 non-null      float64
dtypes: float64(2), int64(1), object(6)
memory usage: 166.1+ KB

In [17]:
g3.describe()

              time      obs_value  obs_status.label
count  2360.000000    2360.000000               0.0
mean   2016.966102   24685.025915               NaN
std       2.277606   61993.499884               NaN
min    2014.000000       0.482000               NaN
25%    2015.000000      43.485500               NaN
50%    2017.000000    1181.255500               NaN
75%    2018.000000   13308.908750               NaN
max    2024.000000  427662.408000               NaN

In [18]:
g3.isna().sum()

ref_area.label         0
source.label           0
indicator.label        0
sex.label              0
classif1.label         0
classif2.label         0
time                   0
obs_value              0
obs_status.label    2360
dtype: int64

In [19]:
g3.shape

(2360, 9)

In [20]:
g4=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/EDA_datos_ILOSTAT/gananciasporsexo.csv')

In [21]:
g4.shape

(9183, 11)

In [22]:
g4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9183 entries, 0 to 9182
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ref_area.label        9183 non-null   object
 1   source.label          9183 non-null   object
 2   indicator.label       9183 non-null   object
 3   sex.label             9183 non-null   object
 4   classif1.label        9183 non-null   object
 5   time                  9183 non-null   int64
 6   obs_value             9090 non-null   float64
 7   obs_status.label      603 non-null    object
 8   note_classif.label    0 non-null      float64
 9   note_indicator.label  9183 non-null   object
 10  note_source.label     9132 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 789.3+ KB

In [23]:
g4.isnull().sum()

ref_area.label             0
source.label               0
indicator.label            0
sex.label                  0
classif1.label             0
time                       0
obs_value                 93
obs_status.label        8580
note_classif.label      9183
note_indicator.label       0
note_source.label         51
dtype: int64

In [24]:
g4.describe()

              time     obs_value  note_classif.label
count  9183.000000   9090.000000                 0.0
mean   2017.471088    316.845934                 NaN
std       2.833584   1320.672640                 NaN
min    2013.000000      0.000000                 NaN
25%    2015.000000      8.652500                 NaN
50%    2018.000000     17.000000                 NaN
75%    2020.000000     65.000000                 NaN
max    2023.000000  19285.000000                 NaN

In [25]:
g4.head(20)

,ref_area.label,source.label,indicator.label,sex.label,classif1.label,time,obs_value,obs_status.label,note_classif.label,note_indicator.label,note_source.label
0,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Total,2018,293.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
1,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Skill levels 3 and 4...,2018,1315.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
2,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Skill level 2 ~ medium,2018,1109.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
3,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Skill level 1 ~ low,2018,189.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
4,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Male,Occupation (Skill level): Total,2018,303.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
5,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Male,Occupation (Skill level): Skill levels 3 and 4...,2018,1359.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
6,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Male,Occupation (Skill level): Skill level 2 ~ medium,2018,1203.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
7,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Male,Occupation (Skill level): Skill level 1 ~ low,2018,193.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
8,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (Skill level): Total,2018,282.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
9,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (Skill level): Skill levels 3 and 4...,2018,1287.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
10,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (Skill level): Skill level 2 ~ medium,2018,1005.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
11,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (Skill level): Skill level 1 ~ low,2018,184.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
12,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): Total,2018,293.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
13,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 1. Managers,2018,568.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
14,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 2. Professionals,2018,399.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
15,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 3. Technicians and assoc...,2018,348.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
16,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 4. Clerical support workers,2018,333.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
17,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 5. Service and sales wor...,2018,200.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
18,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,"Occupation (ISCO-08): 6. Skilled agricultural,...",2018,161.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...
19,Albania,ES - Structure of Earnings Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (ISCO-08): 7. Craft and related tra...,2018,204.0,NaN,NaN,Currency: ALB - Lek (ALL),Data reference period: October | Economic acti...