## 1 Librerías

In [1]:
import hashlib
import requests
import datetime
import pandas as pd

## 2. Obtener datos

In [7]:
url='https://swapi.dev/api/people/'
response = requests.get(url)
data = response.json()
#vista de los datos para poder ordenarlos en diccionarios 
#data

In [8]:
#creacion de funciones para obtener los diferentes datos
#def nombrepersonaje():
    #url='https://swapi.dev/api/people/'
   # personajes=[]
    #while url:
        #response = requests.get(url)
       #data = response.json()
        #personajes.extend(data['results'])
        #url = data['next'] # URL de la siguiente página
    #return personajes

In [13]:
def fetch_all_characters():
    url = "https://swapi.dev/api/people/"
    characters = []
    while url:
        response = requests.get(url)
        data = response.json()
        characters.extend(data['results'])
        url = data['next']  # URL de la siguiente página
        
    return characters

In [14]:
def fetch_homeworld(url):
    response = requests.get(url).json()
    return response['name']

def fetch_species(urls):
    if not urls:
        return "Human"  # Asumir "Human" si está vacío
    response = requests.get(urls[0]).json()
    return response['name']

def fetch_films(urls):
    titles = []
    for url in urls:
        response = requests.get(url).json()
        titles.append(response['title'])
    return titles

In [15]:
def build_dataframe(characters):
    data = []
    for idx, char in enumerate(characters):
        homeworld = fetch_homeworld(char['homeworld'])
        species = fetch_species(char['species'])
        films = fetch_films(char['films'])

        data.append({
            'id': idx + 1,
            'name': char['name'],
            'height': char['height'],
            'mass': char['mass'],
            'hair_color': char['hair_color'],
            'skin_color': char['skin_color'],
            'eye_color': char['eye_color'],
            'birth_year': char['birth_year'],
            'gender': char['gender'],
            'homeworld': homeworld,
            'species': species,
            'films': films,
        })
    return pd.DataFrame(data)

In [17]:
characters = fetch_all_characters()
df = build_dataframe(characters)
df.head()

,id,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,species,films
0,1,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,Tatooine,Human,"[A New Hope, The Empire Strikes Back, Return o..."
1,2,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,Tatooine,Droid,"[A New Hope, The Empire Strikes Back, Return o..."
2,3,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,Naboo,Droid,"[A New Hope, The Empire Strikes Back, Return o..."
3,4,Darth Vader,202,136,none,white,yellow,41.9BBY,male,Tatooine,Human,"[A New Hope, The Empire Strikes Back, Return o..."
4,5,Leia Organa,150,49,brown,light,brown,19BBY,female,Alderaan,Human,"[A New Hope, The Empire Strikes Back, Return o..."